<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>过滤器</title>
</head>
<body>
    <script src="https://cdn.bootcss.com/vue/1.0.28/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/0.7.0/vue-resource.js"></script>

    <div id="box">
        <ul>
            <li v-for="item in myData">{{item}}</li>
        </ul>
        <hr/>
        <ul>
            <li v-for="item in myData | limitBy 2">{{item}}</li>
        </ul>
        <hr/>
        <ul>
            <li v-for="item in myData | limitBy 2 2">{{item}}</li>
        </ul>
    </div>

    <script>
        var vm = new Vue({
            el:"#box",
            data:{
                myData:['apple','banana','orange','apple','banana','orange']
            },
            methods:{
                show:function(){
                    alert(1);
                }
            }
        });
    </script>
</body>
</html>