<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交互</title>
    <style>
        .gray{
            background:#ccc;
        }
    </style>
</head>
<body>
    <script src="https://cdn.bootcss.com/vue/1.0.28/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/0.7.0/vue-resource.js"></script>

    <div id="box">
        <input type="text" v-model="msg" @keyup="get($event)" @keydown.down="changeDown()" @keydown.up.prevent="changeUp()"/>
        <ul>
            <li v-for="value in myData" :class="{gray:$index==now}">{{value}}</li>
        </ul>
        <p v-show="myData.length==0">暂无数据...</p>
    </div>

    <script>
        var vm = new Vue({
            el:"#box",
            data:{
                myData:[],
                msg:'',
                now:-1
            },
            methods:{
                get:function(ev){
                    if(ev.keyCode==38 || ev.keyCode==40){
                        return false;
                    }
                    if(ev.keyCode==13){
                        window.open('https://www.baidu.com/s?wd='+this.msg);
                        this.msg='';
                    }
                    this.$http.jsonp("https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su",{
                        wd:this.msg
                    },{
                        jsonp:"cb"
                    }).then(function(res){
                        this.myData = res.data.s;
                    },function(res){
                        console.log(res.data);
                    });
                },
                changeUp:function(){
                    this.now--;
                    this.msg=this.myData[this.now];
                    if(this.now==-2){
                        this.now=this.myData.length-1;
                    }
                },
                changeDown:function(){
                    this.now++;
                    this.msg=this.myData[this.now];
                    if(this.myData.length==this.now){
                        this.now=-1;
                    }
                }
            }
        });
    </script>
</body>
</html>